body {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #e4afcd 7%, #94bbe9 100%);
  padding: auto;
  width: auto;
  height: auto; }

main .container {
  margin-top: 50px; }

footer .container {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #e4afcd 7%, #94bbe9 100%); }

header {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #e4afcd 7%, #94bbe9 100%); }
